/*-- scss:defaults --*/
$link-color: #a3c6e7;
$body-color: #d0d4d5;
$code-bg: #222;
$code-color: #89f692;
$font-family-monospace: "Source Code Pro";
$font-weight-base: 200 !default;



p {
  line-height: 1.55 !important;
  font-weight: 300 !important;
}

code, pre {
  font-weight: 300; // or 300, or 400
}
